localhost:2015 {
  gzip
  authbyemail {
    sitename ACME Website
    admin authentication@acme.com
    mailerfrom authentication@acme.com
    database /tmp/database
    unprotected css/* fonts/*
  }
}

